streamlit
pandas
numpy
plotly
wordcloud
transformers
torch
beautifulsoup4
nltk
scikit-learn
streamlit-option-menu
NRCLex

# langchain-community
# langchain-core
# langchain-groq

# langchain-core==0.2.0  # Pin version that satisfies both dependencies
# langchain-groq==0.0.1
# langchain-community==0.3.1  # Choose compatible version with langchain-core==0.2.0
# langchain-huggingface
langchain
groq
python-dotenv
sqlalchemy
watchdog
pydantic
chromadb
pysqlite3-binary